@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .hamburger a {
    text-decoration: none;
    color: black;
  }

  
  .fa-solid {
    color: var(--dark);
  }

  .nav-items {
    position: absolute;
    visibility: hidden;
    background-color: var(--third-color);
    top: 0px;
    right: 0;
    height: 80vh;
    border-radius: 20px 0px;
    top: 10px;
    right: 10px;
    width: 200px;
    padding-top: 50px;
    box-shadow: #7533f4 0px 5px 15px;
  }

  .nav-items ul li a {
    color: var(--white);
  }

  .nav-items ul {
    display: flex;
    flex-direction: column;
  }

  .fa-xmark {
    margin-right: 10px;
    color: var(--white);
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .special > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .service_cont {
    grid-template-columns: repeat(2, 1fr);
  }

  #navbar {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .special > div {
    grid-template-columns: repeat(1, 1fr);
  }

  .service_cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
